.content {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;

    width: 800px;
  }
  
  .icon {
    width: 10px;
  }
  
  .text {
    width: 20px;
    font-size: 16px;
  }