.principalBlock {
    background-color: #1f2535;

    width: 800px;
    
    padding-left: 50px;
    padding-bottom: 40px;
}
  
h1 {
    font-size: 30px;
    color: whitesmoke;
}

.description {
    font-size: 12px;
    color: whitesmoke;
}

#textButton {
    font-size: 18px;
    color: #1f2535;
    background-color: aliceblue;
}